global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: 'mlflow_model_monitoring'
    static_configs:
      - targets: ['host.docker.internal:8000']
    metrics_path: '/metrics'